.container {
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #4285f4;
    /* Update background color to blue (#4285f4) */
}

.div {
    border: 2px solid black;
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card {

    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

h1 {
    color: #333333;
}

p {
    margin-bottom: 10px;
}

button {
    background-color: #0f1610;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    opacity: 0.8;
}