<!DOCTYPE html>
<html>

<head>
    <title>News Webapp</title>
    <link rel="stylesheet" href="landingPage.css">
</head>

<body>
    <div class="container" ng-controller="landingController">
        <div class="div">
            <h1>News Webapp</h1>
            <div class="card">
                <p><b>Register Here </b></p>
                <button ng-click="getSingup()">Sign Up</button>
            </div>
            <div class="card">
                <p><b>Already registered?</b><button ng-click="getLogin()">Log In</button> </p>

            </div>
        </div>
    </div>
</body>

</html>